<div class="user-management-container">
  <h2>Gestion de Ordenes de Recepcion</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/ordenesRecepcion/nuevo']">
    + Nueva Orden
  </button>

  <div class="search-row">

    <div class="search-group">
      <input
        type="date"
        [(ngModel)]="fechaBuscar"
        (change)="aplicarFiltros()"
        title="Filtrar por fecha"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscat por proveedor"
        [(ngModel)]="proveedorBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por nombre Producto/SKU"
        [(ngModel)]="productoBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <select [(ngModel)]="estadoBuscar" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todos los Estados</option>
        <option [ngValue]="EstadoDeOrden.PENDIENTE">PENDIENTE</option>
        <option [ngValue]="EstadoDeOrden.COMPLETADA">COMPLETADA</option>
      </select>
    </div>
  </div>

  @if (loading) {
    <div class="loading">Cargando...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (ordenesFiltradas.length) {
    <table class="user-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Proveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (o of ordenesFiltradas; track o.id_orden_recepcion) {
          <tr>
            <td>{{ o.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>
              <span class="badge" 
                    [class.badge-success]="o.estado === EstadoDeOrden.COMPLETADA"
                    [class.badge-warning]="o.estado === EstadoDeOrden.PENDIENTE">
                {{ o.estado }}
              </span>
            </td>
            
            <td>{{ o.proveedor?.nombre || '-' }}</td>
            
            <td class="actions">
              <button (click)="verDetalles(o.id_orden_recepcion!)" class="btn edit-btn">
                Editar
              </button>
              <button (click)="eliminar(o.id_orden_recepcion!)" class="btn delete-btn">
                Eliminar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (!ordenesFiltradas.length && !loading) {
    <p>No se encontraron órdenes con esos criterios.</p>
  }
</div>