<div class="user-management-container">
  <h2>Gestion de Usuarios</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/usuarios/nuevo']">
    + Nuevo Usuario
  </button>

  <div class="search-row">
    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por el nombre"
        [(ngModel)]="nombreUsuarioBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por su rol"
        [(ngModel)]="nombreRolBuscar"
        (input)="aplicarFiltros()"
      />
    </div>
  </div>

  @if (usuarios.length) {
    <div class="table-responsive">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (u of usuarios; track u.idUsuario) {
          <tr>
            <td>{{ u.nombre }}</td>
            <td>{{ u.apellido }}</td>
            <td>{{ u.email }}</td>
            <td>{{ getRoleName(u.idRol) }}</td> 
            <td>
              <div class="actions">
                <button
                  [routerLink]="['/dashboard/usuarios/editar', u.idUsuario]"
                  class="btn edit-btn"
                >
                  Editar
                </button>
                <button (click)="eliminar(u.idUsuario!)" class="btn delete-btn">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        }
            </tbody>
          </table>
        </div>
  }
  </div>