<div class="user-management-container">
  <h2>Gestion de Inventarios</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/inventarios/nuevo']">
    + Nuevo Inventario
  </button>

  <div class="search-row">
    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por nombre de producto"  [(ngModel)]="nombreBuscar"
         (input)="aplicarFiltros()" 
       />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por codigo SKU"
        [(ngModel)]="skuBuscar"
        (input)="aplicarFiltros()"
      />
    </div>


    <div class="search-group">
      <select 
        [(ngModel)]="ubicacionBuscar" 
        (change)="aplicarFiltros()"
        class="form-select"
      >
        <option [ngValue]="null">Todas las ubicaciones</option>
        @for (u of ubicaciones; track u.idUbicacion) {
          <option [ngValue]="u.idUbicacion">
            {{ u.codigo }} - {{ u.zona?.nombre }}
          </option>
        }
      </select>
    </div>

  </div>

  @if (loading) {
    <div class="loading">Cargando...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (inventariosFiltrados.length > 0) {
    <div class="table-responsive">
    <table class="user-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>SKU</th>
          <th>Ubicacion</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (inv of inventariosFiltrados; track inv.id_inventario) {
          <tr>
            <td>{{ inv.producto.nombre }}</td>
            <td>{{ inv.producto.codigoSku }}</td>
            <td>{{ inv.ubicacion.codigo }}</td>
            <td>{{ inv.cantidad }}</td>
            <td>
              <div class="actions">
                <button [routerLink]="['/dashboard/inventarios/editar', inv.id_inventario]" class="btn edit-btn">Editar</button>
                <button class="delete-btn" (click)="eliminar(inv.id_inventario!)">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    </div>
  }

  @if (!loading && inventariosFiltrados.length === 0) {
    <p>No hay inventarios para mostrar.</p>
  }

</div>
