<div class="user-management-container">
  <h2>Gestión de Órdenes de Despacho</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/ordenesDespacho/nuevo']">
    + Nueva Orden
  </button>

  <div class="search-row">
    <div class="search-group">
      <input
        type="date"
        [(ngModel)]="fechaBuscar"
        (change)="aplicarFiltros()"
        title="Filtrar por fecha"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por cliente"
        [(ngModel)]="nombreClienteBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Buscar por nombre producto/SKU"
        [(ngModel)]="productoBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <select [(ngModel)]="estadoBuscar" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todos los Estados</option>
        <option [ngValue]="EstadoDeOrden.PENDIENTE">PENDIENTE</option>
        <option [ngValue]="EstadoDeOrden.COMPLETADA">COMPLETADA</option>
      </select>
    </div>
  </div>

  @if (loading) {
    <div class="loading">Cargando...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (ordenesFiltradas.length) {
    <div class="table-responsive">
    <table class="user-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (o of ordenesFiltradas; track o.idOrdenDespacho) {
          <tr>
            <td>{{ o.fechaDespacho | date: 'dd/MM/yyyy' }}</td>
            <td>
              <span class="badge" 
                    [class.badge-success]="o.estado === EstadoDeOrden.COMPLETADA"
                    [class.badge-warning]="o.estado === EstadoDeOrden.PENDIENTE">
                {{ o.estado }}
              </span>
            </td>
            
            <td>{{ o.cliente?.nombre }}</td>

            <td>
              <div class="actions">
                <button
                  [routerLink]="['/dashboard/ordenesDespacho/editar', o.idOrdenDespacho]"
                  class="btn edit-btn"
                >
                  Editar
                </button>
                <button (click)="eliminar(o.idOrdenDespacho!)" class="btn delete-btn">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    </div>
  }

  @if (!ordenesFiltradas.length && !loading) {
    <p>Sin órdenes de despacho para mostrar.</p>
  }
</div>