<div class="user-management-container">
  <h2>Gestion de Ordenes de Despacho</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/ordenesDespacho/nuevo']">
    + Nueva Orden de Despacho
  </button>

  <div class="search-row">
    <div class="search-group">
      <input
        type="number"
        placeholder="ID de la orden"
        [(ngModel)]="idBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <input
        type="text"
        placeholder="Nombre del cliente"
        [(ngModel)]="nombreClienteBuscar"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="search-group">
      <input
        type="date"
        [(ngModel)]="fechaBuscar"
        (change)="aplicarFiltros()"
      />
    </div>

    @if (filtrado) {
      <div class="search-group">
        <button class="btn secondary-btn" (click)="limpiarFiltros()">Limpiar</button>
      </div>
    }
  </div>

  @if (loading) {
    <div class="loading">Cargando...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (ordenesFiltradas.length) {
    <div class="table-wrapper">
      <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha de despacho</th>
          <th>Estado de orden</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (o of ordenesFiltradas; track o.idOrdenDespacho) {
          <tr>
            <td>{{ o.idOrdenDespacho }}</td>
            <td>{{ o.fechaDespacho | date: 'dd/MM/yyyy' }}</td>
            <td>{{ o.estado }}</td>
            <td>{{ o.cliente.nombre }}</td>

            <td class="actions">
              <button [routerLink]="['/dashboard/ordenesDespacho/editar', o.idOrdenDespacho]" class="btn edit-btn">Editar</button>
              <button (click)="eliminar(o.idOrdenDespacho!)" class="btn delete-btn">
                Eliminar
              </button>
            </td>
          </tr>
        }
      </tbody>
      </table>
    </div>
  }

  @if (!ordenesFiltradas.length && !loading) {
    <p>Sin ordenes de despacho para mostrar.</p>
  }

  <button (click)="volver()" class="btn secondary-btn small-btn">← Volver</button>
</div>
