<div class="user-management-container">
  <h2>Gestion de Movimientos de Inventario</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/movimientosInventario/nuevo']">
    + Nuevo movimiento de inventario
  </button>

  <div class="search-row">
    <div class="search-group">
      <select
        [(ngModel)]="estadoBuscar"
        (change)="aplicarFiltros()"
        class="form-select"
        aria-label="Filtrar por estado"
      >
        <option value="">Filtrar por Estado</option>
        <option value="Entrada">Entrada</option>
        <option value="Salida">Salida</option>
        <option value="Reubicacion">Reubicación</option>
      </select>
    </div>

    <div class="search-group">
     <input
      type="text"
      placeholder="Buscar por producto"
      [(ngModel)]="nombreBuscar"
      (input)="aplicarFiltros()"  />
    </div>

    <div class="search-group">
      <input
        type="date"
        [(ngModel)]="fechaBuscar"
        (change)="aplicarFiltros()"
      />
    </div>

    @if (filtrado) {
      <div class="search-group">
        <button class="btn secondary-btn" (click)="limpiarFiltros()">Limpiar</button>
      </div>
    }
  </div>

  @if (loading) {
    <div class="loading">Cargando...</div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (movimientos.length) {
    <div class="table-responsive">
      <table class="user-table">
      <thead>
        <tr>
          <th>Fecha de movimiento</th>
          <th>Estado de movimiento</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Ubicacion Origen</th>
          <th>Ubicacion Destino</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (m of movimientos; track m.idMovimientoInventario) {
          <tr>
            <td>{{ m.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{ m.estado }}</td>
            <td>{{ m.producto.nombre }}</td>
            <td>{{ m.cantidad }}</td>
            <td>{{ m.ubicacionOrigen?.codigo }}</td>
            <td>{{ m.ubicacionDestino?.codigo }}</td>
            <td>
              <div class="actions">
                @if (m.estado === 'REUBICACION') {
                  <button (click)="eliminar(m.idMovimientoInventario!)" class="btn delete-btn">
                    Eliminar
                  </button>
                } @else {
                  <span>Acciones no permitidas.</span>
                }
              </div>
            </td>
            
          </tr>
        }
      </tbody>
      </table>
    </div>
  }

  @if (!movimientos.length && !loading) {
    <p>Sin movimientos de inventario para mostrar.</p>
  }

</div>
