<div class="user-management-container">
  <h2>Gestion de Productos</h2>

  <button class="btn new-btn" [routerLink]="['/dashboard/productos/nuevo']">
    + Nuevo Producto
  </button>

  <div class="search-row">
    <div class="search-group">
      <input type="text" placeholder="Buscar por codigo SKU" [(ngModel)]="skuBuscar" (input)="aplicarFiltros()" />
    </div>

    <div class="search-group">
      <input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombreBuscar" (input)="aplicarFiltros()" />
    </div>
  </div>

    <div class="search-group">
      <select [(ngModel)]="categoriaBuscar" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todas las Categorías</option>
        @for (cat of categoriasOpciones; track cat) {
          <option [value]="cat">{{ cat }}</option>
        }
      </select>
  </div>

  @if (loading) { <div class="loading">Cargando...</div> }
  @if (error) { <div class="error">{{ error }}</div> }

  @if (productosFiltrados.length) {
    <table class="user-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoria</th> <th>Descripción</th>
          <th>Codigo SKU</th>
          <th>Unidad</th>
          <th>Creado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (p of productosFiltrados; track p.idProducto) {
          <tr>
            <td>{{ p.nombre }}</td>
            
            <td><span class="badge">{{ p.categoria }}</span></td>
            
            <td>{{ p.descripcion }}</td>
            <td>{{ p.codigoSku }}</td>
            <td>{{ p.unidad_medida }}</td>
            <td>{{ p.fecha_creacion | date: 'dd/MM/yyyy' }}</td>
            <td class="actions">
              <button [routerLink]="['/dashboard/productos/editar', p.idProducto]" class="btn edit-btn">Editar</button>
              <button (click)="eliminar(p.idProducto!)" class="btn delete-btn">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (!productosFiltrados.length && !loading) {
    <p>Sin productos para mostrar.</p>
  }
</div>